<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>North Star Counselling | About</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <!-- <link rel="stylesheet" href="fonts/foundation-icons.css" /> -->
    <link rel="stylesheet" href="../css/foundation-icons.css" />
    <script src="../js/vendor/modernizr.js"></script>
  </head>
  <body>
    <header class="row">
      <div class="large-3 columns">
        <!-- <h1>NORTH STAR</h1> -->
        <!-- <h1 class="subhead">COUNSELLING</h1> -->
        <h1 class="logo">
          <a href="../index.html">
            <img src="../img/north-star-logo.png" alt="North Star Counselling">
          </a>
        </h1>
      </div>
      <div class="large-9 columns">
        <div class="navigation">
          <nav class="sign-up-in">
            <a href="#" class="block">SIGN UP AND LET US HELP</a>
            <a href="#" class="button tiny">SIGN IN</a>
          </nav>
          <nav class="main">
            <ul>
              <li>
                <a href="#" class="navlink-1">ABOUT US</a>
              </li>
              <li>
                <a href="#" class="navlink-2">HOW WE CAN HELP</a>
              </li>
              <li>
                <a href="#" class="navlink-3">WHAT IS ONLINE COUNSELLING</a>
              </li>
              <li>
                <a href="#" class="navlink-4">HOW IT WORKS</a>
              </li>
              <li>
                <a href="#" class="navlink-5">FEES</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

<!-- INTRO SECTION -->
    <section class="hero">
      
    </section>

<!-- FOURTH SECTION -->
    <section class="about-us row">
      <div class="large-4 columns"><br></div>
      <div class="large-7 columns">
        <h1>About Us</h1>
        <h2>
          Hello. I’m Cheryl, the founder and lead counsellor at North Star.
        </h2>
        <p>
          I have a Masters Degree in Social Work and I have been counselling people for over 16 years. As a social worker I have a passion for helping people through the challenges they are facing.
        </p>
        <p>
          People, like you, who want a little assistance in finding alternative solutions in their life. But don’t know where to start. Maybe you are too remote or too busy or have been hesitant to seek guidance. That does not change the fact that everyone needs a little help to find their way.
        </p>
        <br>
        <h3>
          Ecounselling is the answer.
        </h3>
        <p>
          It’s easy, convenient and completely confidential.
        </p>
        <p>
          We engage in a conversation, just as we would face-to-face, only we will be online. I introduce myself, and then you tell me a bit about yourself. You share with me your issue, and within 2 business days I respond with some ideas, thoughts and options on how you can move forward. We’ll carry on our online conversation as long as you need.
        </p>
        <a href="#">
          <button class="alternate-button">Let's begin...</button>
        </a>
        <!-- <a href="#" class="alternate-button">Let's begin...</a> -->
        <h3>
          Why North Star.
        </h3>
        <p>
          My mission is to guide you through difficulties. This is why I chose the name North Star. The North Star has been a guiding light for people to find their way in the world. We will be the guiding light for you! To help you find the way through the trials and tribulations of life. This is done through a goal directed collaborative approach. Personal change is constant. We will bring awareness and facilitate movement towards goals you have identified.
        </p>
      </div>
      <div class="large-1 columns"><br></div>
    </section>


<!-- FOOTER -->
    <footer class="row">
      <div class="large-1 columns"><br></div>
      <div class="large-7 columns height250">
        <img src="../img/north-star-logo.png" alt="North Star Counselling" class="footer-logo">
        <p class="copyright">COPYRIGHT © 2014 NORTH STAR COUNSELLING LTD. ALL RIGHTS RESERVED / PRIVACY POLICY</p>
      </div>
      <div class="large-4 columns">
        <nav class="footer">
          <ul>
            <li>
              <a href="#" class="navlink-1">SIGN UP AND LET US HELP</a>
            </li>
            <li>
              <a href="#" class="navlink-1">MEMBER SIGN IN</a>
            </li>
            <br>
            <li>
              <a href="#" class="navlink-1">CONTACT US</a>
            </li>
            <br>
            <li>
              <a href="#" class="navlink-1">ABOUT US</a>
            </li>
            <li>
              <a href="#" class="navlink-2">HOW WE CAN HELP</a>
            </li>
            <li>
              <a href="#" class="navlink-3">WHAT IS ONLINE COUNSELLING</a>
            </li>
            <li>
              <a href="#" class="navlink-4">HOW IT WORKS</a>
            </li>
            <li>
              <a href="#" class="navlink-5">FEES</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>


    
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script src="../js/foundation/foundation.accordion.js"></script>
    <script>
      $(document).foundation({
        accordion: {
          // specify the class used for active (or open) accordion panels
          active_class: 'active',
          // allow multiple accordion panels to be active at the same time
          multi_expand: false,
          // allow accordion panels to be closed by clicking on their headers
          // setting to false only closes accordion panels when another is opened
          toggleable: true
        }
      });
    </script>
  </body>
</html>