// Styles
.row{
  // width: 100%;
  min-width: 100%;
}
header{
	// height: 150px;
}
.logo{
	// width: 150px;
	// height: 100px;
	width: 180px;
	height: 120px;
	// margin: 35px;
	margin: 20px;
}
.navigation{
	// float: right;
	text-align: right;
}
.sign-up-in{
	// float: right;
	// position: absolute;
	// right: 0;
	// text-align: right;
}
.sign-up-in a{
	// display: block;
	color: $grey;
	font-size: 12px;
	margin: 18px 0 10px 0;
}
// .sign-up-in a:last-child{
// 	margin: 18px 0 0 0;
// }
.main{
	// float: right;
}
.main li{
	display: inline;
	margin: 0 2em 0 0;
	// hi?
}
.main li:last-of-type{
	margin: 0 0 0 0;
}
.main a{
	color: $grey;
	font-size: 14px;
	font-weight: 500;
}
section{
	font-weight: 300;
	text-align: center;
	padding: 3em 25em 2.5em 25em;
}

// INTRODUCTION SECTION
.introduction{
	background: $oil;
	padding: 5em 20em;
}
.introduction p{
	text-align: center;
	font-weight: 300;
}
.personal-intro{
	margin: 0 0 10em 0;
}
.personal-intro p{
	color: white;
	font-size: 24px;
}
.personal-intro .large{
	display: block;
	font-size: 44px;
}
.starting-questions p{
	color: #BCD430;
	font-size: 20px;
}
.starting-questions .large{
	display: block;
	font-size: 36px;
	line-height: 43px;
}

// QUESTION & ANSWER SECTIONS
.question-and-answer p{
	text-align: center;
	color: #FFFFFF;
}
// .question-and-answer p,
.question-and-answer button,
.question-and-answer .question-line{
	display: block;
	margin: 0 auto;
}
.question span{
	font-size: 20px;
	line-height: 43px;
}
.answer span{
	// font-size: 2em;
	font-size: 36px;
	line-height: 2em;
}
.first-question{
	// background: #8BB34B;
	background: $yellow-green;
}
.second-question{
	// background: #72AE5C;
	background: $green;
}
.third-question{
	// background: #48A688;
	background: $teal;
}
.fourth-question{
	// background: #00A29F;
	background: $aqua;
}
.get-started{
	// background: #009DB8;
	background: $blue;
}
footer{
	color: $grey;
}
.footer ul{
	list-style: none;
}
.footer a{
	color: $grey;
}